a {
   text-decoration: none; 
   color: #c03655;
}

.GenericButton {
    display: grid;
    
}

.HeaderButton {
    background-color: transparent;
    font-size: x-large;
    font-weight: bold;
    width: 100px;
    height: 100px;
    margin-left: 10px 0px 0px 10px;
    border: none;
}

.HeaderButton a:hover {
    color: black;
}